In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG (1).csv",sep=",",encoding='latin-1')

In [3]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

### What is the total sum of Animal Fat produced in 2014 and 2017 respectively?

In [113]:
a_f = df.groupby("Item")["Y2014","Y2017"].sum()

C:\Users\Hp\AppData\Local\Temp/ipykernel_8072/1616183299.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  a_f = df.groupby("Item")["Y2014","Y2017"].sum()

In [115]:
a_f.loc["Animal fats",:]

Y2014    209460.54
Y2017    269617.53
Name: Animal fats, dtype: float64

### What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?

In [31]:
print("Mean: ",round(df["Y2015"].mean(),3))
print("Std: ",round(df["Y2015"].std(),3))

Mean:  135.236
Std:  1603.404

### What is the total number and percentage of missing data in 2016 to 2 decimal places?

In [42]:
print("Total Number: ",df.isnull().sum()["Y2016"])
print("Percentage of Total Number: ",round((df.isnull().sum()["Y2016"]/len(df)*100),2),"%")

Total Number:  1535
Percentage of Total Number:  2.52 %

### Which year had the highest correlation with ‘Element Code’?

In [54]:
df.corr()["Element Code"]["Y2014":].sort_values()

Y2016    0.023444
Y2015    0.023889
Y2017    0.024254
Y2018    0.024279
Y2014    0.024457
Name: Element Code, dtype: float64

In [55]:
print("Year 2014 Had the highest correlation with Element Code")

Year 2014 Had the highest correlation with Element Code

### What year has the highest sum of Import Quantity?

In [104]:
quantity = df.groupby("Element").sum()

In [108]:
quality.loc["Import Quantity",'Y2014':].sort_values()

Y2015    267018.46
Y2014    274144.48
Y2016    286582.78
Y2018    287997.09
Y2017    294559.09
Name: Import Quantity, dtype: float64

In [109]:
print("The Year 2017 had the highest sum of Import Quantity")

The Year 2017 had the highest sum of Import Quantity

### What is the total number of the sum of Production in 2014?

In [94]:
total = df.groupby("Element").sum()

In [97]:
total.loc["Production","Y2014"]

1931287.75

### Which of these elements had the highest sum in 2018?

In [100]:
df.groupby("Element")["Y2018"].sum().sort_values()

Element
Tourist consumption                            90.00
Fat supply quantity (g/capita/day)          10258.69
Protein supply quantity (g/capita/day)      11833.56
Stock Variation                             20577.91
Seed                                        25263.14
Residuals                                   34864.00
Food supply quantity (kg/capita/yr)         49056.85
Other uses (non-food)                       91300.97
Losses                                     163902.00
Export Quantity                            181594.80
Feed                                       233489.68
Import Quantity                            287997.09
Processing                                 308429.00
Food supply (kcal/capita/day)              455261.00
Total Population - Both sexes             1140605.00
Food                                      1303841.28
Production                                2075072.89
Domestic supply quantity                  2161192.10
Name: Y2018, dtype: float64

In [101]:
print("Food supply (kcal/capita/day) ")

Food supply (kcal/capita/day)

### Which of these elements had the 3rd lowest sum in 2018?

In [102]:
print("Food supply quantity (kg/capita/yr) ")

Food supply quantity (kg/capita/yr)

### What is the total Import Quantity in Algeria in 2018?

In [131]:
df.head(5)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [133]:
new_df = df[["Area","Element","Y2018"]]

In [138]:
df_ = new_df[new_df["Area"]=="Algeria"]

In [142]:
temp_df = df_.groupby("Element").sum()

In [144]:
temp_df.loc["Import Quantity",:]

Y2018    36238.29
Name: Import Quantity, dtype: float64

### What is the total number of unique countries in the dataset?

In [130]:
len(df["Area"].unique())

49